---
# file: roles/mellanox/defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution | lower] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    - []

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []

intel_download_url: "https://downloadmirror.intel.com"

intel_i40e_version: "2.15.9"
intel_i40e_driver_url: "{{ intel_download_url }}/24411/eng/i40e-{{ intel_i40e_version }}.tar.gz"
intel_i40e_driver_dir: "/opt"

intel_ice_version: "1.4.11"
intel_ice_driver_url: "{{ intel_download_url }}/29746/eng/ice-{{ intel_ice_version }}.tar.gz"
intel_ice_driver_dir: "/opt"

intel_ddp_version: "1.3.28.0"
intel_ddp_profile_url: "{{ intel_download_url }}/29889/eng/800%20Series%20Comms%20Binary%20Package%20{{ intel_ddp_version }}.zip"
intel_ddp_profile_dir: "/opt"