---
# file: roles/mellanox/defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution | lower] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    - []

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []

intel_download_url: "https://downloadmirror.intel.com"
intel_extract_dir: "/opt"

intel_700_compatibility_matrix:
  dpdk21.02:
    # https://doc.dpdk.org/guides/rel_notes/release_21_02.html
    i40e: "2.14.13"
    iavf: "4.1.1"
    nvm: "8.00"
  dpdk21.05:
    # https://doc.dpdk.org/guides/rel_notes/release_21_05.html
    i40e: "2.15.9"
    iavf: "4.1.1"
    nvm: "8.30"
  intel4.4:
    # https://cdrdv2.intel.com/v1/dl/getcontent/332191
    i40e: "2.12.6"
    iavf: "4.0.1"
    nvm: "8.00"

intel_800_compatibility_matrix:
  dpdk21.02:
    # https://doc.dpdk.org/guides/rel_notes/release_21_02.html
    ice: "1.4.5"
    ddp: "1.3.25.0"
    iavf: "4.1.1"
    nvm: "2.40"
  dpdk21.05:
    # https://doc.dpdk.org/guides/rel_notes/release_21_05.html
    ice: "1.6.0"
    ddp: "1.3.30.0"
    iavf: "4.2.7"
    nvm: "3.00"
  intel2.7:
    # https://cdrdv2.intel.com/v1/dl/getContent/630155
    ice: "1.4.11"
    ddp: "1.3.24.0"
    iavf: "4.1.1"
    nvm: "2.40"

intel_i40e_url:
  "2.12.6": "29945/eng/i40e-2.12.6.tar.gz"
  "2.14.13": "30366/eng/i40e-2.14.13.tar.gz"
  "2.15.9": "24411/eng/i40e-2.15.9.tar.gz"

intel_ice_url:
  "1.4.11": "29746/eng/ice-1.4.11.tar.gz"
  "1.5.8": "29746/eng/ice-1.5.8.tar.gz"

intel_iavf_url:
  "4.0.1": "30236/eng/iavf-4.0.1.tar.gz"
  "4.1.1": "24693/eng/iavf-4.1.1.tar.gz"

intel_ddp_url:
  "1.3.24.0": "30335/eng/ice_comms-1.3.24.0.zip"
  "1.3.28.0": "29889/eng/800%20Series%20Comms%20Binary%20Package%201.3.28.0.zip"
  "1.3.30.0": "30590/eng/800%20Series%20Comms%20Binary%20Package%201.3.30.0.zip
