{% if nomad_use_telemetry | bool == True %}
telemetry {
    # Specifies if gauge values should be prefixed with the local hostname.
    disable_hostname = {{ nomad_telemetry_disable_hostname | bool | lower }}

    # Specifies the time interval at which the Nomad agent collects telemetry
    # data.
    collection_interval = "{{ nomad_telemetry_collection_interval }}"

    # Specifies if gauge values should be prefixed with the name of the node,
    # instead of the hostname. If set it will override disable_hostname value.
    use_node_name = {{ nomad_telemetry_use_node_name | bool | lower }}

    # Specifies if Nomad should publish runtime metrics of allocations.
    publish_allocation_metrics = {{ nomad_telemetry_publish_allocation_metrics | bool | lower }}

    # Specifies if Nomad should publish runtime metrics of nodes.
    publish_node_metrics = {{ nomad_telemetry_publish_node_metrics | bool | lower }}

    # Specifies whether the agent should make Prometheus formatted metrics
    # available at /v1/metrics?format=prometheus.Specifies whether the agent
    # should make Prometheus formatted metrics available at
    # /v1/metrics?format=prometheus.
    prometheus_metrics = {{ nomad_telemetry_prometheus_metrics | bool | lower }}
}
{% endif %}
