{% if nomad_tls_enable | bool %}
tls {
    http = {{ nomad_http | bool | lower }}
    rpc = {{ nomad_rpc | bool | lower }}
    ca_file = "{{ nomad_ca_file }}"
    cert_file = "{{ nomad_cert_file }}"
    key_file = "{{ nomad_key_file }}"
    rpc_upgrade_mode = {{ nomad_rpc_upgrade_mode | bool | lower }}
    verify_server_hostname = {{ nomad_verify_server_hostname | bool | lower }}
    verify_https_client = {{ nomad_verify_https_client | bool | lower }}
}
{% endif %}
