{% if ( nomad_ca_file ) and
      ( nomad_cert_file ) and
      ( nomad_key_file )
%}
tls {
    http = {{ nomad_http | bool | lower }}
    rpc = {{ nomad_rpc | bool | lower }}
    ca_file = "{{ nomad_ca_file }}"
    cert_file = "{{ nomad_cert_file }}"
    key_file = "{{ nomad_key_file }}"
}
{% endif %}
