---
# file: roles/calibration/defaults/main.yaml

# Packages to install.
packages: "{{ packages_base + packages_by_distro[ansible_distribution|lower][ansible_distribution_release] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    jammy:
      - "build-essential"
      - "dmidecode"
  debian:
    bullseye:
      - "build-essential"

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []

# Kernel version to check.
kernel_version: "{{ kernel_version_by_distro_by_arch[ansible_distribution | lower][ansible_distribution_release][ansible_machine] }}"

kernel_version_by_distro_by_arch:
  ubuntu:
    jammy:
      x86_64:
        - "5.15.0-46-generic" # Placeholder
        - "5.15.0-1000-aws" # Placeholder
        - "5.4.0-1009-aws" # Placeholder
      aarch64:
        - "5.15.0-46-generic" # Placeholder
  debian:
    bullseye:
        - "5.15.0-107-generic"

pma_directory: "/tmp/pma_tools"
jitter_core: 7
jitter_iterations: 20
