---
# file: tasks/main.yaml

- name: update package cache
  ansible.builtin.apt:
    update_cache: true
  when:
    - ansible_os_family == 'Debian'
  tags:
    - dpdk-inst-prerequisites

- name: prerequisites
  ansible.builtin.package:
    name: "{{ packages | flatten(levels=1) }}"
    state: "latest"
  tags:
    - dpdk-inst-prerequisites

- name: multiple DPDK versions
  include_tasks: "deploy_block.yaml"
  loop: "{{ dpdk_version }}"
  tags:
    - dpdk-inst
