---
# file: roles/dpdk/defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution|lower][ansible_distribution_release] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    focal:
      - "build-essential"
      - "libnuma-dev"
    jammy:
      - "build-essential"
      - "libnuma-dev"

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []

dpdk_target_dir: "/opt"
dpdk_version:
  - "22.03"
dpdk_url: "https://fast.dpdk.org/rel"
