{% extends "base_layout.jinja2" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='img/logo.svg') }}" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold">{{ title }}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">{{ description }}</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/trending/" class="btn btn-primary">Trending</a>
    </div>
  </div>
</div>
{% endblock %}