---
# file: roles/baremetal/handlers/main.yaml

- name: IPMI specific
  import_tasks: ipmi.yaml
  when: inventory_ipmi_hostname is defined
  tags:
    - ipmi-handlers

- name: CIMC specific
  import_tasks: cimc.yaml
  when: inventory_cimc_hostname is defined
  tags:
    - cimc-handlers

- name: Reboot server
  reboot:
    reboot_timeout: 3600
  tags:
    - reboot-server

- name: Wait for server to restart
  wait_for:
    host: "{{ inventory_hostname }}"
    search_regex: OpenSSH
    port: 22
    delay: 60
    timeout: 3600
  tags:
    - reboot-server
