---
# file: roles/tg_sut/tasks/main.yaml

- name: Install distribution - release - machine prerequisites
  include_tasks: '{{ ansible_distribution|lower }}_{{ ansible_distribution_release }}.yaml'

- name: Machine specifics
  include_tasks: '{{ ansible_machine }}.yaml'

- name: Skylake specific
  import_tasks: skylake.yaml
  when: cpu_microarchitecture == "skylake"

- name: Copy netplan network config file
  template:
    src: 'files/netplan_config'
    dest: '/etc/netplan/01-netcfg.yaml'
    owner: 'root'
    group: 'root'
    mode: '0644'
  tags: copy-interface-file

- name: Copy CSIT sysctl file
  template:
    src: 'files/90-csit'
    dest: '/etc/sysctl.d/90-csit.conf'
    owner: 'root'
    group: 'root'
    mode: '0644'
  tags: copy-90-csit

- name: Copy IRQ load balancing file
  copy:
    src: 'files/irqbalance'
    dest: '/etc/default/irqbalance'
    owner: 'root'
    group: 'root'
    mode: '0644'
  tags: copy-irq

- name: Copy cpufrequtils file
  copy:
    src: 'files/cpufrequtils'
    dest: '/etc/default/cpufrequtils'
    owner: 'root'
    group: 'root'
    mode: '0644'
  tags: copy-cpufrequtils

- name: Set ondemand service to disable
  service:
    name: 'ondemand'
    enabled: 'no'
  tags: set-ondemand

  when: ansible_machine == 'x86_64'

- name: Install VPP PIP requirements
  pip:
    name:
      - 'aenum==2.1.2'
  tags: install-pip

- name: Load vfio-pci by default
  lineinfile:
    path: '/etc/modules'
    state: 'present'
    line: 'vfio-pci'
  tags: load-vfio-pci
