#udpfwd config file
#lcore=3,op=echo,laddr=0.0.0.0,lport=0x4D2,raddr=0.0.0.0,rport=0
lcore=0,op=echo,laddr=0.0.0.0,lport=0x10E1,raddr=0.0.0.0,rport=0
#lcore=3,op=echo,laddr=::,lport=0x4D2,raddr=::,rport=0
lcore=0,op=echo,laddr=::,lport=0x10E1,raddr=::,rport=0
