---
# file: roles/trex/tasks/main.yaml

- name: Update Package Cache (APT)
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when:
    - ansible_distribution|lower == 'ubuntu'
  tags:
    - trex-inst-prerequisites

- name: Prerequisites
  ansible.builtin.package:
    name: "{{ packages | flatten(levels=1) }}"
    state: latest
  tags:
    - trex-inst-prerequisites

- name: Multiple T-Rex Versions
  include_tasks: deploy_block.yaml
  loop: "{{ trex_version }}"
  tags:
    - trex-inst
