---
# file: molecule/default/molecule.yaml

dependency:
  name: galaxy
driver:
  name: docker
lint: |
  yamllint .
  ansible-lint
platforms:
  - name: ${DISTRO:-ubuntu-24.04}
    image: "pmikus/docker-${MOLECULE_DISTRO:-ubuntu-24.04}-ansible:latest"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  playbooks:
    converge: ${MOLECULE_PLAYBOOK:-converge.yml}
