[access]
	inheritFrom = All-Projects
[project]
	description = Integration tests
[access "refs/*"]
	owner = group ldap/fdio-gerrit-csit-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
	mergeContent = false
[access "refs/heads/*"]
	create = group Non-Interactive Users
