[access]
	inheritFrom = All-Projects
[project]
	description = Integration tests
[access "refs/*"]
	owner = group saml/fdio-gerrit-csit-committers
	read = group GitHub Replication
	viewDrafts = group Registered Users
[submit]
	action = rebase if necessary
	mergeContent = false
[access "refs/heads/*"]
	create = group Service Users
	create = group saml/fdio-gerrit-csit-committers
[access "refs/drafts/*"]
	label-Code-Review = -1..+1 group Registered Users
