[access]
	inheritFrom = All-Projects
[project]
	description = Integration tests
[access "refs/*"]
	owner = group ldap/fdio-gerrit-csit-committers
[submit]
	action = rebase if necessary
	mergeContent = false
[access "refs/tags/*"]
	push = group Non-Interactive Users
	pushTag = group Non-Interactive Users
	pushSignedTag = group Non-Interactive Users
	create = group Non-Interactive Users
