# DISCLAIMER: BEFORE EDITING THIS FILE!
#
# This file has two closely related consequences. The common part is that this
# file defines the content of virtual Python environment used when Robot tests
# are running.
#
# But the virtual environment is also being created on containerized
# environment created by either Nomad cluster (Jenkins, vpp_device) or during
# execution on SUT machines, which might have specific restrictions.
#
# Complete package and setting snapshot (for all container images),
# with network being limited to local only. This implies pip currently being
# set to site-packages only. So if the "container image" applied on the machine
# does not reflect the edits, some installations might fail.
# Even if the failure may not directly impact execution, this leads into
# inconsistency between installed environment and the code base which may lead
# into fatal error or uncaught exceptions.
#
# CSIT Core dependencies
ecdsa==0.18.0
paramiko==3.3.1
pycrypto==2.6.1
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
robotframework==6.1.1
scapy==2.4.5
scp==0.14.5

# IaaC dependencies
ansible==8.2.0
ansible-core==2.15.2

# PLRsearch dependencies
dill==0.3.7
numpy==1.25.2
scipy==1.11.1

# VPP requirements
ply==3.11

# JSON schema validation
jsonschema==4.18.4
rfc3339-validator==0.1.4
rfc3987==1.3.8

# Dependencies for some tox checkers (not tox setup itself).
pylint==3.0.1

# Other PIP freeze dependencies.
attrs==23.1.0
bcrypt==4.0.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
idna==3.4
Jinja2==3.1.2
jsonschema-specifications==2023.7.1
MarkupSafe==2.1.3
packaging==23.1
pycparser==2.21
PyNaCl==1.5.0
referencing==0.30.0
resolvelib==1.0.1
rpds-py==0.9.2
six==1.16.0
urllib3==2.0.4
