# DISCLAIMER: BEFORE EDITING THIS FILE!
#
# This file has two closely related consequences. The common part is that this
# file defines the content of virtual Python environment used when Robot tests
# are running.
#
# But the virtual environment is also being created on containerized
# environment created by either Nomad cluster (Jenkins, vpp_device) or during
# execution on SUT machines, which might have specific restrictions.
#
# Complete package and setting snapshot (for all container images),
# with network being limited to local only. This implies pip currently being
# set to site-packages only. So if the "container image" applied on the machine
# does not reflect the edits, some installations might fail.
# Even if the failure may not directly impact execution, this leads into
# inconsistency between installed environment and the code base which may lead
# into fatal error or uncaught exceptions.
#
# CSIT Core dependencies
ecdsa==0.18.0
paramiko==2.9.3
pycrypto==2.6.1
PyYAML==5.4.1
requests==2.25.1
robotframework==5.0.1
scapy==2.4.5
scp==0.14.4

# IaaC dependencies
ansible==5.10.0
ansible-core==2.12.7

# PLRsearch dependencies
dill==0.3.5.1
numpy==1.22.4
scipy==1.8.1

# PAL/DOC dependencies
boto3==1.17.78
botocore==1.20.78
hdrhistogram==0.6.1
pandas==1.4.2
plotly==4.1.1
PTable==0.9.2
Sphinx==3.5.4
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-programoutput==0.17
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-robotdoc==0.11.0
sphinxcontrib-serializinghtml==1.1.5

# VPP requirements
ply==3.11

# JSON schema validation
jsonschema==4.1.0
rfc3339-validator==0.1.4
rfc3987==1.3.8

# Other PIP freeze dependencies.
aenum==3.1.11
aiohttp==3.7.4.post0
aiosignal==1.2.0
alabaster==0.7.12
apturl==0.5.2
asn1crypto==1.5.1
async-timeout==3.0.1
attrs==21.2.0
Automat==20.2.0
awswrangler==2.15.1
Babel==2.8.0
backoff==1.11.1
bcrypt==3.2.0
beautifulsoup4==4.11.1
black==22.3.0
blinker==1.4
Brlapi==0.8.3
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==2.0.12
chrome-gnome-shell==0.0.0
click==8.0.3
cloud-init==22.2
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
cupshelpers==1.0
dbus-python==1.2.18
decorator==5.1.1
defer==1.0.6
discord.py==1.7.3
distlib==0.3.4
distro==1.7.0
distro-info===1.1build1
dnspython==2.1.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
duplicity==0.8.21
et-xmlfile==1.1.0
fasteners==0.14.1
filelock==3.6.0
frozenlist==1.3.0
future==0.18.2
git-review==2.3.1
gpg===1.16.0-unknown
gremlinpython==3.6.0
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
imagesize==1.4.1
importlib-metadata==4.6.4
incremental==21.3.0
isodate==0.6.1
jeepney==0.7.1
Jinja2==3.0.3
jmespath==0.10.0
jsonpatch==1.32
jsonpath-ng==1.5.3
jsonpointer==2.0
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
lxml==4.9.0
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
monotonic==1.6
more-itertools==8.10.0
multidict==6.0.2
mypy-extensions==0.4.3
nest-asyncio==1.5.5
netifaces==0.11.0
ntlm-auth==1.4.0
oauthlib==3.2.0
olefile==0.46
openpyxl==3.0.10
opensearch-py==1.1.0
packaging==21.3
pathspec==0.9.0
pbr==5.9.0
pexpect==4.8.0
pg8000==1.29.1
Pillow==9.0.1
platformdirs==2.5.1
powerline-status==2.8.2
progressbar2==4.0.0
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycups==2.0.1
Pygments==2.11.2
PyGObject==3.42.0
PyHamcrest==2.0.2
PyJWT==2.3.0
pykerberos==1.1.14
pymacaroons==0.13.0
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.3.0+ubuntu2
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-dotenv==0.20.0
python-utils==3.3.3
pytz==2022.1
pywinrm==0.3.0
pyxdg==0.27
redshift-connector==2.0.907
reportlab==3.6.8
requests-aws4auth==1.1.2
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
resolvelib==0.8.1
retrying==1.3.3
rst2html==2020.7.4
s3transfer==0.4.2
scramp==1.4.1
SecretStorage==3.3.1
service-identity==18.1.0
six==1.16.0
snowballstemmer==2.2.0
sos==4.3
soupsieve==2.3.2.post1
ssh-import-id==5.11
systemd-python==234
texttable==1.6.4
tomli==2.0.1
Twisted==22.1.0
typing_extensions==4.2.0
ubuntu-advantage-tools==27.9
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
virtualenv==20.13.0+ds
wadllib==1.3.6
websocket-client==0.59.0
xdg==5
xkit==0.0.0
xmltodict==0.12.0
yarl==1.7.2
zipp==1.0.0
zope.interface==5.4.0
