---
# file: roles/aws/defaults/main.yaml

# Packages to install.
packages: "{{ packages_base + packages_by_distro[ansible_distribution|lower][ansible_distribution_release] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    focal:
      - "build-essential"
      - "dmidecode"

packages_by_arch:
  x86_64:
    - []

# Kernel version to check.
kernel_version: "{{ kernel_version_by_distro_by_arch[ansible_distribution | lower][ansible_distribution_release][ansible_machine] }}"

kernel_version_by_distro_by_arch:
  ubuntu:
    focal:
      x86_64:
        - "5.4.0-1035-aws"

pma_directory: "/tmp/pma_tools"
jitter_core: 7
jitter_iterations: 20
