---
# file: roles/prometheus_exporter/defaults/main.yaml

# Inst - Exporters.
packages: "{{ packages_base + packages_by_distro[ansible_distribution | lower] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    - "python3-docker"
    - "python3-dockerpty"

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []

ne_image: "{{ ne_image_by_arch[ansible_machine] }}"

ne_image_by_arch:
  aarch64: "prom/node-exporter:v1.2.0"
  x86_64: "prom/node-exporter:v1.2.0"

be_image: "{{ be_image_by_arch[ansible_machine] }}"

be_image_by_arch:
  aarch64: "prom/blackbox-exporter:v0.19.0"
  x86_64: "prom/blackbox-exporter:v0.19.0"
