---
# file: roles/performance_tuning/tasks/main.yaml

- name: Install distribution - release - machine prerequisites
  include_tasks: "{{ ansible_distribution|lower }}_{{ ansible_distribution_release }}.yaml"
  tags:
    - install-csit-dependencies

- name: Machine specifics
  include_tasks: "{{ ansible_machine }}.yaml"
  tags:
    - set-grub

- name: Turbo boost
  import_tasks: turbo_boost.yaml
  when: >
    cpu_microarchitecture == "skylake" or
    cpu_microarchitecture == "cascadelake"
  tags:
    - turbo-boost

- name: Copy CSIT sysctl file
  template:
    src: "files/90-csit"
    dest: "/etc/sysctl.d/90-csit.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  tags:
    - copy-90-csit

- name: Copy cpufrequtils file
  copy:
    src: "files/cpufrequtils"
    dest: "/etc/default/cpufrequtils"
    owner: "root"
    group: "root"
    mode: "0644"
  tags:
    - copy-cpufrequtils

- name: Set ondemand service to disable
  service:
    name: "ondemand"
    enabled: "no"
  tags:
    - set-ondemand

- name: Load vfio-pci by default
  lineinfile:
    path: "/etc/modules"
    state: "present"
    line: "vfio-pci"
  tags:
    - load-vfio-pci

- meta: flush_handlers
