---
# file: roles/cleanup/tasks/kill_containers.yaml

- name: Kill Docker Containers
  block:
    - name: Kill Container - Get Running Docker Containers
      ansible.builtin.shell: "docker ps -aq"
      register: running_containers
      changed_when: false
      tags:
        - kill-containers

    - name: Kill Container - Remove All Docker Containers
      ansible.builtin.shell: "docker rm --force {{ item }}"
      with_items: "{{ running_containers.stdout_lines }}"
      tags:
        - kill-containers

  rescue:
    - name: Restart Docker Daemon
      ansible.builtin.systemd:
        name: "docker"
        state: "restarted"

- name: Kill LXC Containers
  block:
    - name: Kill Container - Get Running LXC Containers
      ansible.builtin.shell: "lxc-ls"
      register: running_containers
      changed_when: false
      tags:
        - kill-containers

    - name: Kill Container - Remove All LXC Containers
      ansible.builtin.shell: "lxc-destroy --force -n {{ item }}"
      with_items: "{{ running_containers.stdout_lines }}"
      tags:
        - kill-containers

  rescue:
    - fail:
        msg: "Kill LXC containers failed!"
