---
# file: tasks/remove_package.yaml

- name: fix corrupted APT
  ansible.builtin.shell: "dpkg --configure -a"
  when:
    - ansible_facts["os_family"] == "Debian"
  tags:
    - remove-package

- name: remove package - {{ package }}
  ansible.builtin.apt:
    name: "{{ package }}"
    force: true
    purge: true
    state: "absent"
  failed_when: false
  when:
    - ansible_facts["os_family"] == "Debian"
  tags:
    - remove-package