---
# file: roles/intel/tasks/ice.yaml

- name: Inst - Get ice Network Adapter Driver
  uri:
    url: "{{ intel_sourceforge_download_url }}/{{ intel_ice_url[ice] }}"
    follow_redirects: "all"
    force: true
    dest: "{{ intel_extract_dir }}/ice-{{ ice }}.tar.gz"
    mode: "0644"
  failed_when: false
  tags:
    - intel-inst

- name: Inst - Extract ice Network Adapter Driver
  unarchive:
    remote_src: true
    src: "{{ intel_extract_dir }}/ice-{{ ice }}.tar.gz"
    dest: "{{ intel_extract_dir }}/"
    creates: "{{ intel_extract_dir }}/ice-{{ ice }}"
  register: intel_driver_extracted
  tags:
    - intel-inst

- name: Inst - ice Network Adapter Driver
  command: "{{ item }}"
  args:
    chdir: "{{ intel_extract_dir }}/ice-{{ ice }}/src"
  become: true
  with_items:
    - "make install"
    - "modprobe -r ice"
    - "modprobe ice"
  when:
    - intel_driver_extracted
  tags:
    - intel-inst

- name: Inst - Get Dynamic Device Personalization (DDP) Package
  get_url:
    url: "{{ intel_download_url }}/{{ intel_ddp_url[ddp] }}"
    dest: "{{ intel_extract_dir }}/800-Series-Comms-Binary-Package-{{ ddp }}.zip"
    mode: 0644
  tags:
    - intel-inst

- name: Inst - Extract Dynamic Device Personalization (DDP) Package
  unarchive:
    remote_src: true
    src: "{{ intel_extract_dir }}/800-Series-Comms-Binary-Package-{{ ddp }}.zip"
    dest: "{{ intel_extract_dir }}/"
    creates: "{{ intel_extract_dir }}/ice_comms-{{ ddp }}.zip"
  register: intel_driver_extracted
  tags:
    - intel-inst

- name: Inst - Extract Dynamic Device Personalization (DDP) Package
  unarchive:
    remote_src: true
    src: "{{ intel_extract_dir }}/ice_comms-{{ ddp }}.zip"
    dest: "{{ intel_extract_dir }}/"
  register: intel_driver_extracted
  tags:
    - intel-inst

- name: Inst - Copy Dynamic Device Personalization (DDP) Package
  copy:
    src: "{{ intel_extract_dir }}/ice_comms-{{ ddp }}.pkg"
    dest: "/lib/firmware/updates/intel/ice/ddp/ice-{{ ddp }}.pkg"
    remote_src: true
    follow: true
  tags:
    - intel-inst

- name: Inst - Link Dynamic Device Personalization (DDP) Package
  file:
    src: "ice-{{ ddp }}.pkg"
    dest: "/lib/firmware/updates/intel/ice/ddp/ice.pkg"
    state: link
  tags:
    - intel-inst

- name: Inst - Extract Dynamic Device Personalization (DDP) Package (cleanup)
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ intel_extract_dir }}/E810 DDP for Comms TechGuide_Rev2.3.pdf"
    - "{{ intel_extract_dir }}/Intel_800_series_market_segment_DDP_license.txt"
  tags:
    - intel-inst
