---
# file: tasks/qat1.yaml

- name: Get QAT 1.x Driver
  ansible.builtin.uri:
    url: "{{ intel_download_url }}/{{ intel_qat_url[qat1] }}"
    follow_redirects: "all"
    force: true
    dest: "{{ intel_extract_dir }}/QAT.L.{{ qat1 }}.tar.gz"
    mode: "0644"
  failed_when: false
  tags:
    - intel-inst

- name: Create a Directory For QAT 1.x Driver
  ansible.builtin.file:
    path: "{{ intel_extract_dir }}/QAT.L.{{ qat1 }}/"
    state: "directory"
    mode: "0755"
  tags:
    - intel-inst

- name: Extract QAT 1.x Driver
  ansible.builtin.unarchive:
    remote_src: true
    src: "{{ intel_extract_dir }}/QAT.L.{{ qat1 }}.tar.gz"
    dest: "{{ intel_extract_dir }}/QAT.L.{{ qat1 }}/"
  register: intel_driver_extracted
  tags:
    - intel-inst

- name: Install QAT1.x Driver
  ansible.builtin.command: "{{ item }}"
  args:
    chdir: "{{ intel_extract_dir }}/QAT.L.{{ qat1 }}"
  become: true
  with_items:
    - "./configure --enable-icp-sriov=host --enable-icp-sym-only"
    - "make"
    - "make install"
  when:
    - intel_driver_extracted
  tags:
    - intel-inst

- name: Load Kernel Modules By Default
  ansible.builtin.lineinfile:
    path: "/etc/modules"
    state: "present"
    line: "{{ item }}"
  with_items:
    - "qat_c4xxx"
  tags:
    - intel-inst