version: "3"
services:
  cdocs-init:
    image: "klakegg/hugo:ext-alpine"
    command: "mod get github.com/alex-shpak/hugo-book@v0.0.0-20230424134111-d86d5e70c7c0"
    volumes:
      - "../docs:/src"
  cdocs-build:
    image: "klakegg/hugo:ext-alpine"
    depends_on:
      - "cdocs-init"
    volumes:
      - "../docs:/src"
      - "../csit.infra.dash:/csit.infra.dash"
  cdocs-run:
    image: "klakegg/hugo:ext-alpine"
    command: "server --minify"
    depends_on:
      - "cdocs-init"
    volumes:
      - "../docs:/src"
    ports:
      - "1313:1313"
