---
metadata:
  version: 0.1
  schema:
    - resources/topology_schemas/3_node_topology.sch.yaml
    - resources/topology_schemas/topology.sch.yaml

nodes:
  TG:
    type: TG
    subtype: TREX
    model: Intel-Sapphirerapids
    host: 10.0.0.1
    arch: x86_64
    port: 22
    username: testuser
    password: Csit1234
    interfaces:
      port1:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:01.0"
        driver: i40e
        link: link1
        model: Intel-X710
      port2:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:02.0"
        driver: i40e
        link: link2
        model: Intel-X710
      port3:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:03.0"
        link: link3
        driver: e1000
        model: virtual
      port4:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:04.0"
        link: link4
        driver: e1000
        model: virtual
  DUT1:
    type: DUT
    model: Intel-Sapphirerapids
    host: 10.0.0.2
    arch: x86_64
    port: 22
    username: testuser
    password: Csit1234
    uio_driver: vfio-pci
    interfaces:
      port1:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:01.0"
        driver: i40e
        link: link1
        model: Intel-X710
      port2:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:02.0"
        driver: i40e
        link: link22
        model: Intel-X710
      port3:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:03.0"
        driver: e1000
        link: link3
        model: virtual
      port4:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:04.0"
        link: link44
        driver: e1000
        model: virtual
  DUT2:
    type: DUT
    model: Intel-Sapphirerapids
    host: 10.0.0.3
    arch: x86_64
    port: 22
    username: testuser
    password: Csit1234
    uio_driver: vfio-pci
    interfaces:
      port1:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:01.0"
        driver: i40e
        link: link22
        model: Intel-X710
      port2:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:02.0"
        driver: i40e
        link: link2
        model: Intel-X710
      port3:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:03.0"
        driver: e1000
        link: link44
        model: virtual
      port4:
        mac_address: "00:00:00:00:00:00"
        pci_address: "0000:00:04.0"
        driver: e1000
        link: link4
        model: virtual
