---
# file: tasks/main.yaml

- name: check kernel parameters
  ansible.builtin.assert:
    that:
      - item in ansible_facts["cmdline"]
    fail_msg: "Kernel parameters!"
    success_msg: "Kernel parameters match."
  loop: "{{ grub.keys()|sort }}"
  when:
    - grub is defined
  tags:
    - check-kernel-params

- name: check kernel version
  ansible.builtin.assert:
    that:
      - ansible_facts["kernel"] not in kernel_version_by_distro_by_arch
    fail_msg: "Kernel version!"
    success_msg: "Kernel version match."
  tags:
    - check-kernel-version
