---
# file handlers/main.yaml

- name: Update GRUB
  ansible.builtin.command: update-grub
  tags:
    - update-grub

- name: Reboot Server
  ansible.builtin.reboot:
    reboot_timeout: 3600
  tags:
    - reboot-server
