---
# file: roles/common/defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution|lower][ansible_distribution_release] + packages_by_arch[ansible_machine] }}"

packages_base:
  - "virtualenv"

packages_by_distro:
  ubuntu:
    bionic:
      - "python-all"
      - "python-apt"
      - "python-cffi"
      - "python-cffi-backend"
      - "python-dev"
      - "python-pip"
      - "python-setuptools"
      - "python3-all"
      - "python3-apt"
      - "python3-cffi"
      - "python3-cffi-backend"
      - "python3-dev"
      - "python3-pip"
      - "python3-pyelftools"
      - "python3-setuptools"
    focal:
      - "python3-all"
      - "python3-apt"
      - "python3-cffi"
      - "python3-cffi-backend"
      - "python3-dev"
      - "python3-pip"
      - "python3-pyelftools"
      - "python3-setuptools"

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []