---
# file: roles/performance_tuning/defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution|lower][ansible_distribution_release] + packages_by_arch[ansible_machine] }}"

packages_base:
  - "cpufrequtils"

packages_by_distro:
  ubuntu:
    bionic:
      - []
    focal:
      - []

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []