[Unit]
Description=Consul Service
Documentation=https://www.nomadproject.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
# TODO: Decrease privilege
ExecReload=/bin/kill -SIGHUP $MAINPID
ExecStart={{ consul_bin_dir }}/consul agent -config-dir {{ consul_config_dir }}
KillSignal=SIGTERM
LimitNOFILE=infinity
LimitNPROC=infinity
Restart=on-failure
RestartSec=1
User=root
Group=root
Environment="GOMAXPROCS=2"

[Install]
WantedBy=multi-user.target
