ports {
    dns = {{ consul_port_dns }}
    http = {{ consul_port_http }}
    https = {{ consul_port_https }}
    grpc = {{ consul_port_grpc }}
    serf_lan = {{ consul_port_serf_lan }}
    serf_wan = {{ consul_port_serf_wan }}
    server = {{ consul_port_server }}
}