services:
  sut-0:
    build:
      context: "base/"
      dockerfile: "Dockerfile"
      args:
        BASE_IMAGE: "ubuntu:24.04"
        DPDK_VERSION: "24.11.1"
    cap_add:
      - NET_RAW
    command: ["/usr/sbin/sshd","-D", "-p", "6001"]
    expose:
      - "6001"
    hostname: "{{ ansible_hostname[:-1] }}1"
    network_mode: "host"
    privileged: true
    restart: "always"
    shm_size: "8G"
    volumes:
      - type: "bind"
        source: "/dev/hugepages"
        target: "/dev/hugepages"
      - type: "bind"
        source: "/dev/vfio"
        target: "/dev/vfio"
      - type: "bind"
        source: "/etc/sudoers"
        target: "/etc/sudoers"
{% for volume in docker_volumes %}
      - type: "bind"
        source: "{{ volume.source }}"
        target: "{{ volume.target }}"
{% endfor %}
  sut-1:
    build:
      context: "base/"
      dockerfile: "Dockerfile"
      args:
        BASE_IMAGE: "ubuntu:24.04"
        DPDK_VERSION: "24.11.1"
    cap_add:
      - NET_RAW
    command: ["/usr/sbin/sshd","-D", "-p", "6002"]
    expose:
      - "6002"
    hostname: "{{ ansible_hostname[:-1] }}2"
    network_mode: "host"
    privileged: true
    restart: "always"
    shm_size: "8G"
    volumes:
      - type: "bind"
        source: "/dev/hugepages"
        target: "/dev/hugepages"
      - type: "bind"
        source: "/dev/vfio"
        target: "/dev/vfio"
      - type: "bind"
        source: "/etc/sudoers"
        target: "/etc/sudoers"
{% for volume in docker_volumes %}
      - type: "bind"
        source: "{{ volume.source }}"
        target: "{{ volume.target }}"
{% endfor %}