---
# file: host_vars/10.32.8.25.yaml

hostname: "s61-t210-tg1"
grub:
  amd_iommu: "on"
  audit: "0"
  hpet: "disable"
  iommu: "pt"
  isolcpus: "1-15,17-31,33-47,49-63"
  nmi_watchdog: "0"
  nohz_full: "off"
  nosoftlockup: True
  numa_balancing: "disable"
  processor.max_cstate: "0"
  rcu_nocbs: "1-15,17-31,33-47,49-63"
  tsc: "reliable"
sysctl:
  kernel:
    watchdog_cpumask: "0,16,32,48"
  vm:
    nr_hugepages: 8192
    max_map_count: 20000

inventory_ipmi_hostname: "10.30.55.25"
cpu_microarchitecture: "epyc"
