---
# file: host_vars/10.32.8.24.yaml

hostname: "s60-t210-sut1"
grub:
  amd_iommu: "on"
  audit: "0"
  default_hugepagesz: "2M hugepagesz=1G hugepages=32 hugepagesz=2M hugepages=32768"
  hpet: "disable"
  iommu: "pt"
  isolcpus: "1-15,17-31,33-47,49-63"
  nmi_watchdog: "0"
  nohz_full: "off"
  nosoftlockup: true
  numa_balancing: "disable"
  processor.max_cstate: "0"
  rcu_nocbs: "1-15,17-31,33-47,49-63"
  tsc: "reliable"
sysctl:
  kernel:
    watchdog_cpumask: "0,16,32,48"
  vm:
    nr_hugepages: 32768
    max_map_count: 20000

inventory_ipmi_hostname: "10.30.55.24"
cpu_microarchitecture: "epyc"

intel_700_matrix: "dpdk22.03"
intel_800_matrix: "dpdk22.03"
