---
# file: host_vars/10.30.51.36.yaml

hostname: "s17-t33-sut1"
grub:
  audit: "0"
  intel_iommu: "on"
  isolcpus: "1-15,17-31,33-47,49-63"
  nmi_watchdog: "0"
  nohz_full: "1-15,17-31,33-47,49-63"
  nosoftlockup: True
  processor.max_cstate: "1"
  rcu_nocbs: "1-15,17-31,33-47,49-63"
sysctl:
  kernel:
    watchdog_cpumask: "0,16,32,48"
  vm:
    nr_hugepages: 32768

inventory_ipmi_hostname: '10.30.50.36'
cpu_microarchitecture: "taishan"
