---
# file: host_vars/10.32.8.22.yaml

hostname: "s37-t29-sut1"
grub:
  audit: "0"
  hpet: "disable"
  intel_idle.max_cstate: "1"
  intel_iommu: "on"
  intel_pstate: "disable"
  iommu: "pt"
  isolcpus: "1-23,25-47,49-71,73-95"
  mce: "off"
  nmi_watchdog: "0"
  nohz_full: "1-23,25-47,49-71,73-95"
  nosoftlockup: True
  numa_balancing: "disable"
  processor.max_cstate: "1"
  rcu_nocbs: "1-23,25-47,49-71,73-95"
  tsc: "reliable"
sysctl:
  kernel:
    watchdog_cpumask: "0,24,48,72"
  vm:
    nr_hugepages: 65536
    max_map_count: 20000

inventory_ipmi_hostname: '10.30.55.22'
cpu_microarchitecture: "cascadelake"
