---
# file: host_vars/10.30.51.36.yaml

hostname: "s17-t33-sut1"
grub:
  audit: "0"
  default_hugepagesz: "2M hugepagesz=1G hugepages=32 hugepagesz=2M hugepages=32768"
  iommu.passthrough: "1"
  isolcpus: "1-10,17-26,33-42,49-58"
  nmi_watchdog: "0"
  nohz_full: "1-10,17-26,33-42,49-58"
  nosoftlockup: true
  processor.max_cstate: "1"
  rcu_nocbs: "1-10,17-26,33-42,49-58"
sysctl:
  kernel:
    watchdog_cpumask: "0,11-16,27-32,43-48,59-63"
  vm:
    nr_hugepages: 32768

inventory_ipmi_hostname: "10.30.50.36"
cpu_microarchitecture: "taishan"

intel_700_matrix: "dpdk22.03"

