---
# file: host_vars/10.32.8.13.yaml

hostname: "s31-t35-sut2"
grub:
  audit: "0"
  hpet: "disable"
  intel_idle.max_cstate: "1"
  intel_iommu: "on"
  intel_pstate: "disable"
  iommu: "pt"
  isolcpus: "1-5"
  mce: "off"
  nmi_watchdog: "0"
  nohz_full: "1-5"
  nosoftlockup: True
  numa_balancing: "disable"
  processor.max_cstate: "1"
  rcu_nocbs: "1-5"
  tsc: "reliable"
sysctl:
  kernel:
    watchdog_cpumask: "0"
  vm:
    nr_hugepages: 8192
    max_map_count: 20000

inventory_ipmi_hostname: '10.30.55.13'
cpu_microarchitecture: "denverton"
