---
# file: host_vars/10.30.51.72.yaml

hostname: "s62-t34-sut1"
grub:
  audit: "0"
  default_hugepagesz: "2M hugepagesz=1G hugepages=32 hugepagesz=2M hugepages=32768"
  iommu.passthrough: "1"
  isolcpus: "1-40,81-120"
  nmi_watchdog: "0"
  nohz_full: "1-40,81-120"
  nosoftlockup: true
  processor.max_cstate: "1"
  rcu_nocbs: "1-40,81-120"
sysctl:
  kernel:
    watchdog_cpumask: "0,41-80,121-159"
  vm:
    nr_hugepages: 32768
    max_map_count: 20000

inventory_ipmi_hostname: "10.30.50.72"
cpu_microarchitecture: "altra"

intel_700_matrix: "dpdk21.11"
