---
# file: roles/wrk/defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution|lower][ansible_distribution_release] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    bionic:
      - "apache2-utils"
    focal:
      - "apache2-utils"

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []
