---
# file: defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution | lower] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    - "build-essential"
    - "libnl-3-dev"
    - "libnl-route-3-dev"

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []

mellanox_download_url: "http://content.mellanox.com/ofed"
mellanox_extract_dir: "/opt"

mellanox_compatibility_matrix:
  dpdk24.07:
    # https://doc.dpdk.org/guides/rel_notes/release_24_07.html
    ofed: "24.04-0.7.0.0"
