---
# file: roles/mellanox/defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution | lower] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    - "build-essential"
    - "libnl-3-dev"
    - "libnl-route-3-dev"

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []

mellanox_download_url: "http://content.mellanox.com/ofed"
mellanox_extract_dir: "/opt"

mellanox_cx5_compatibility_matrix:
  dpdk21.02:
    # https://doc.dpdk.org/guides/rel_notes/release_21_02.html
    ofed: "5.3-1.0.5.0"
  dpdk22.03:
    # https://doc.dpdk.org/guides/rel_notes/release_22_03.html
    ofed: "5.5-1.0.3.2"
