---
# file: roles/mellanox/defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution | lower] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    - "build-essential"
    - "libnl-3-dev"
    - "libnl-route-3-dev"

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []

mellanox_version: "5.2-1.0.4.0"