---
# file: roles/kernel/tasks/main.yaml

- name: Inst - Prerequisites
  include_tasks: "{{ ansible_distribution|lower }}_{{ ansible_distribution_release }}.yaml"
  tags:
    - kernel-inst-prerequisites

- meta: flush_handlers
