{% extends "layout.jinja2" %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0 text-white">
        {{ brand }}
      </h3>
    </div>
  </header>

  <main class="px-3">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='img/logo.svg') }}" alt="" width="72" height="57">
    <h1 class="text-white">
      {{ title }}
    </h1>
    <p class="lead">
      {{ description }}
    </p>
    <p class="lead">
      {% for itm in menu_itms %}
        <p>
          <a href="{{ itm['path'] }}" class="btn btn-primary fw-bold w-25">
            {{ itm['title'] }}
          </a>
        </p>
      {% endfor %}
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Copyright © 2016-2024 <a href="https://fd.io" class="text-white">The Fast Data Project</a>, a series of LF Projects, LLC.</p>
  </footer>
</div>
{% endblock %}
