---
# file: roles/cleanup/tasks/kill_containers.yaml

- name: Kill container - Get running Docker containers
  shell: "docker ps -aq"
  register: running_containers
  changed_when: no
  tags: kill-containers

- name: Kill container - Remove all Docker containers
  shell: "docker rm --force {{ item }}"
  with_items: "{{ running_containers.stdout_lines }}"
  tags: kill-containers

- name: Kill container - Get running LXC containers
  shell: "lxc-ls"
  register: running_containers
  changed_when: no
  tags: kill-containers

- name: Kill container - Remove all LXC containers
  shell: "lxc-destroy --force -n {{ item }}"
  with_items: "{{ running_containers.stdout_lines }}"
  tags: kill-containers
