---
# file: roles/sut/defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution | lower] + packages_by_arch[ansible_machine] }}"

packages_base:
  - "gdb"
  - "libtool"
  - "lxc"
  - "pkg-config"
  - "screen"

packages_by_distro:
  ubuntu:
    - "build-essential"
    - "libglib2.0-dev"
    - "libmbedcrypto1"
    - "libmbedtls10"
    - "libmbedx509-0"
    - "libnuma-dev"
    - "libpixman-1-dev"

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []
