[Unit]
Description=Numa node workaround configuration

[Service]
ExecStart=/bin/sh -c 'echo 1 > /sys/bus/pci/devices/000a:11:00.0/numa_node'
ExecStart=/bin/sh -c 'echo 1 > /sys/bus/pci/devices/000a:11:00.1/numa_node'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target