#!/bin/bash

declare -r TRUE=0
declare -r FALSE=1

# set default values in config array
typeset -A DIR
typeset -A URL
typeset -A JOB

DIR[WORKING]=_tmp
DIR[BUILD]=_build
DIR[RST]=../../../docs/report

DIR[STATIC]=${DIR[BUILD]}/_static
DIR[STATIC,VPP]=${DIR[STATIC]}/vpp
DIR[STATIC,DPDK]=${DIR[STATIC]}/dpdk
DIR[STATIC,ARCH]=${DIR[STATIC]}/archive
DIR[STATIC,TREND]=${DIR[STATIC]}/trending

DIR[PLOT,VPP]=${DIR[WORKING]}/vpp_plot
DIR[PLOT,DPDK]=${DIR[WORKING]}/dpdk_plot

DIR[DTR]=${DIR[RST]}/detailed_test_results
DIR[DTR,PERF,DPDK]=${DIR[DTR]}/dpdk_performance_results
DIR[DTR,PERF,VPP]=${DIR[DTR]}/vpp_performance_results
DIR[DTR,PERF,HC]=${DIR[DTR]}/honeycomb_performance_results
DIR[DTR,FUNC,VPP]=${DIR[DTR]}/vpp_functional_results
DIR[DTR,FUNC,HC]=${DIR[DTR]}/honeycomb_functional_results
DIR[DTR,FUNC,NSHSFC]=${DIR[DTR]}/nshsfc_functional_results
DIR[DTR,PERF,VPP,IMPRV]=${DIR[RST]}/vpp_performance_tests/performance_improvements

DIR[DTC]=${DIR[RST]}/test_configuration
DIR[DTC,PERF,VPP]=${DIR[DTC]}/vpp_performance_configuration
DIR[DTC,FUNC,VPP]=${DIR[DTC]}/vpp_functional_configuration

DIR[DTO]=${DIR[RST]}/test_operational_data
DIR[DTO,PERF,VPP]=${DIR[DTO]}/vpp_performance_operational_data

DIR[CSS_PATCH_FILE]=${DIR[STATIC]}/theme_overrides.css

URL[JENKINS,CSIT]='https://jenkins.fd.io/view/csit/job'
URL[JENKINS,HC]='https://jenkins.fd.io/view/hc2vpp/job'

JOB[PERF,VPP]=csit-vpp-perf-1707-all
JOB[PERF,VPP,BLD]="9 10 13 14 15 16 17 18 19"
JOB[PERF,VPP,FBLD]=10
JOB[PERF,DPDK]=csit-dpdk-perf-1707-all
JOB[PERF,DPDK,BLD]="1 2 3 4 5 6 7 8 9 10"
JOB[PERF,DPDK,FBLD]=10
JOB[FUNC,VPP]=csit-vpp-functional-1707-ubuntu1604-virl
JOB[FUNC,VPP,BLD]=lastSuccessfulBuild
JOB[PERF,HC]=hc2vpp-csit-perf-master-ubuntu1604
JOB[PERF,HC,BLD]=4
JOB[FUNC,HC]=hc2vpp-csit-integration-1707-ubuntu1604
JOB[FUNC,HC,BLD]=lastSuccessfulBuild
JOB[FUNC,NSH]=hc2vpp-csit-integration-1707-ubuntu1604
JOB[FUNC,NSH,BLD]=lastSuccessfulBuild

JOB[1704,PERF,VPP]=csit-vpp-perf-1704-all
JOB[1704,VPP,BLD]="6 7 8 9 10 12 14 15 16 17"
JOB[1704,DPDK]=csit-dpdk-perf-1704-all
JOB[1704,DPDK,BLD]="1 2 3 4 6 7 8 9 10 11"
