---
# file: roles/iperf/defaults/main.yaml

packages: "{{ packages_base + packages_by_distro[ansible_distribution | lower] + packages_by_arch[ansible_machine] }}"

packages_base:
  - []

packages_by_distro:
  ubuntu:
    - "build-essential"
    - "lib32z1"

packages_by_arch:
  aarch64:
    - []
  x86_64:
    - []

iperf_target_dir: "/opt"
iperf_version: "3.7"
