#
#Generic Kickstart template for Ubuntu
#Platform: x86 and x86-64
#

#System language
lang en_US

#Language modules to install
langsupport en_US

#System keyboard
keyboard us

#System mouse
mouse

#System timezone
timezone America/Los_Angeles

#Root password
rootpw --disabled

#Initial user (user with sudo capabilities)
user testuser --fullname "Test User" --password Cisco1234

#Reboot after installation
reboot

#Use text mode install
text

#Install OS instead of upgrade
install

#Installation media
#cdrom
#nfs --server=server.com --dir=/path/to/ubuntu/
url --url http://10.30.51.28/ubuntu

#System bootloader configuration
bootloader --location=mbr

#Clear the Master Boot Record
zerombr yes

#Partition clearing information
clearpart --all --initlabel

#Basic disk partition
part /boot --fstype ext4 --size 256 --asprimary
part / --fstype ext4 --size 1 --grow --asprimary
part swap --size 1024

#Advanced partition
#part /boot --fstype=ext4 --size=500 --asprimary
#part pv.aQcByA-UM0N-siuB-Y96L-rmd3-n6vz-NMo8Vr --grow --size=1
#volgroup vg_mygroup --pesize=4096 pv.aQcByA-UM0N-siuB-Y96L-rmd3-n6vz-NMo8Vr
#logvol / --fstype=ext4 --name=lv_root --vgname=vg_mygroup --grow --size=10240 --maxsize=20480
#logvol swap --name=lv_swap --vgname=vg_mygroup --grow --size=1024 --maxsize=8192

#System authorization infomation
auth  --useshadow  --enablemd5

#Network information
network --bootproto=dhcp

#Firewall configuration
firewall --disabled --ssh

#Do not configure the X Window System
skipx

###

preseed live-installer/net-image string http://10.30.51.28/ubuntu/install/filesystem.squashfs
preseed user-setup/allow-password-weak boolean true


%packages
openssh-server
python2.7
