---
# file: tasks/main.yaml

- name: Add User
  ansible.builtin.user:
    append: "{{ item.append | default(omit) }}"
    createhome: "{{ 'yes' if users_create_homedirs else 'no' }}"
    generate_ssh_key: "{{ item.generate_ssh_key | default(omit) }}"
    groups: "{{ item.groups | join(',') if 'groups' in item else '' }}"
    name: "{{ item.username }}"
    password: "{{ item.password if item.password is defined else '!' }}"
    shell: "{{ item.shell if item.shell is defined else users_shell }}"
    state: present
  with_items: "{{ users }}"
  tags:
    - user-add-conf

- name: SSH keys
  ansible.builtin.authorized_key:
    user: "{{ item.0.username }}"
    key: "{{ item.1 }}"
  with_subelements:
    - "{{ users }}"
    - ssh_key
    - skip_missing: true
  tags:
    - user-add-conf

- name: Disable Password Login
  ansible.builtin.lineinfile:
    dest: "/etc/ssh/sshd_config"
    regexp: "^PasswordAuthentication yes"
    line: "PasswordAuthentication no"
  notify:
    - "Restart SSHd"
  when:
    - sshd_disable_password_login
  tags:
    - user-add-conf
