---
# file: roles/ab/tasks/main.yaml

- name: Inst - Update Package Cache (APT)
  apt:
    update_cache: yes
    cache_valid_time: 3600
  when:
    - ansible_distribution|lower == 'ubuntu'
  tags:
    - ab-inst-prerequisites

- name: Inst - Apache ab tools
  package:
    name: "{{ packages | flatten(levels=1) }}"
    state: present
  tags:
    - ab-inst