---
# file: roles/common/tasks/ubuntu.yaml

- name: Install python-apt
  apt:
    name: 'python-apt'
    state: 'present'
    update_cache: True
  tags: install-python-apt

- name: Install git
  apt:
    name: 'git'
    state: 'present'
    update_cache: True
  tags: install-git

- name: Install crudini
  apt:
    name: 'crudini'
    state: 'present'
    update_cache: True
  tags: install-crudini

- name: Install expect
  apt:
    name: 'expect'
    state: 'present'
    update_cache: True
  tags: install-expect

- name: Install socat
  apt:
    name: 'socat'
    state: 'present'
    update_cache: True
  tags: install-socat

- name: Install qemu
  apt:
    name: 'qemu-system'
    state: 'present'
    update_cache: True
  tags: install-qemu

- name: Copy aarch64 apt sources file
  template:
    src: 'files/apt-sources-arm.list'
    dest: '/etc/apt/sources.list'
  tags: copy-apt-sources
  when: ansible_machine == 'aarch64'

- name: Copy x86_64 apt sources file
  template:
    src: 'files/apt-sources.list'
    dest: '/etc/apt/sources.list'
  tags: copy-apt-sources
  when: ansible_machine == 'x86_64'
