---
# file: roles/common/tasks/ubuntu_bionic.yaml

- name: Copy apt sources file
  template:
    src: 'files/apt-sources_{{ ansible_distribution_release }}_{{ ansible_machine }}.list'
    dest: '/etc/apt/sources.list'
  tags: copy-apt-sources

- name: Install CSIT dependencies
  apt:
    name:
      - 'autoconf'
      - 'build-essential'
      - 'cgroup-bin'
      - 'dkms'
      - 'python-all'
      - 'python-apt'
      - 'python-cffi'
      - 'python-cffi-backend'
      - 'python-dev'
      - 'python-pip'
      - 'python-setuptools'
      - 'python3-all'
      - 'python3-apt'
      - 'python3-cffi'
      - 'python3-cffi-backend'
      - 'python3-dev'
      - 'python3-pip'
      - 'python3-setuptools'
      - 'qemu-system'
      - 'socat'
      - 'virtualenv'
      - 'unzip'
      - 'zlib1g-dev'
    state: 'present'
    cache_valid_time: 3600
    install_recommends: False
  tags: install-csit-dependencies

- name: Install CSIT dependencies - aarch64 SciPy
  apt:
    name:
      - 'gfortran'
      - 'libblas-dev'
      - 'liblapack-dev'
    state: 'present'
    cache_valid_time: 3600
    install_recommends: False
  when: >
    ansible_machine == 'aarch64'
  tags: install-csit-dependencies
