---
# file: roles/common/tasks/ubuntu.yaml

- name: Copy aarch64 apt sources file
  template:
    src: 'files/apt-sources-arm.list'
    dest: '/etc/apt/sources.list'
  tags: copy-apt-sources
  when: ansible_machine == 'aarch64'

- name: Copy x86_64 apt sources file
  template:
    src: 'files/apt-sources.list'
    dest: '/etc/apt/sources.list'
  tags: copy-apt-sources
  when: ansible_machine == 'x86_64'

- name: Install CSIT dependencies
  apt:
    name: '{{ item }}'
    state: 'present'
    install_recommends: False
  with_items:
    - 'python-apt'
    - 'git'
    - 'crudini'
    - 'expect'
    - 'socat'
    - 'qemu-system'
  tags: install-csit-dependencies
