---
# file: sut.yaml

- hosts: sut
  remote_user: testuser
  become: yes
  become_user: root
  roles:
    - role: common
      tags: common
    - role: vexx_hosts
      tags: vexx_hosts
    - role: vpp
      tags: vpp
    - role: dpdk
      tags: dpdk
    - role: docker
      tags: docker
    - role: kubernetes
      tags: kubernetes
    - role: mellanox
      tags: mellanox
    - role: kernel_vm
      tags: kernel_vm
    - role: performance_tuning
      tags: performance_tuning
    - role: kernel
      tags: kernel
    - role: cleanup
      tags: cleanup
    - role: calibration
      tags: calibration
