---
# file: tg.yaml

- hosts: tg
  remote_user: testuser
  become: yes
  become_user: root
  roles:
    - role: common
      tags: common
    - role: vexx_hosts
      tags: vexx_hosts
    - role: tg
      tags: tg
    - role: iperf
      tags: iperf
    - role: trex
      tags: trex
    - role: wrk
      tags: wrk
    - role: docker
      tags: docker
    - role: mellanox
      tags: mellanox
    - role: performance_tuning
      tags: performance_tuning
    - role: kernel
      tags: kernel
    - role: cleanup
      tags: cleanup
    - role: calibration
      tags: calibration
