---
# file: tg.yaml

- hosts: tg
  remote_user: testuser
  become: yes
  become_user: root
  roles:
    - role: provision
      tags: provision
    - role: common
      tags: common
    - role: tg
      tags: tg
    - role: tg_sut
      tags: tg_sut
    - role: calibration
      tags: calibration
