---
# file: tg.yaml

- hosts: tg
  remote_user: testuser
  become: yes
  become_user: root
  gather_facts: false
  pre_tasks:
    - name: Gathering Facts
      gather_facts:
      tags:
        - always
  roles:
    - role: baremetal
      tags: baremetal
    - role: common
      tags: common
    - role: tg
      tags: tg
    - role: kernel
      tags: kernel
    - role: mellanox
      tags: mellanox
    - role: iperf
      tags: iperf
    - role: trex
      tags: trex
    - role: docker
      tags: docker
    - role: performance_tuning
      tags: performance_tuning
    - role: cleanup
      tags: cleanup
    - role: calibration
      tags: calibration
    - role: ab
      tags: ab
