<!DOCTYPE html>
<html lang="en">
<head>
  <title>CI TEST FAILURE AND ANOMALY STATISTICS</title>
  {%metas%}
  {%favicon%}
  {%css%}
</head>
<body>
  {%app_entry%}
  <footer>
    {%config%}
    {%scripts%}
    {%renderer%}
  </footer>
</body>
</html>