#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# License agreement
eula --agreed
# Install OS instead of upgrade
text
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$OmK6zb39$lJdJnxgmx5z/.x1YXpnjf/
# System timezone
timezone America/New_York --isUtc
# System language
lang en_US.UTF-8
# Firewall configuration
firewall --disabled
# Syste authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# SELinux configuration
selinux --disabled
firewall --disable
# Do not configure the X Window System
skipx

# Network information
network  --bootproto=dhcp
network --hostname=centos7
# Halt after installation
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --all
autopart --type=lvm

%packages
@core
openssh-clients
openssh-server

%end

